/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */


#main .container  {
    padding-bottom: 30px;
}

/* Produktseite */

.entry-summary .woocommerce_de_versandkosten {display:none;}
.entry-summary .shipping_de_string {display:none;}
.entry-summary .price-per-unit {display:none;}
.entry-summary .wgm-extra-costs-eu { display: none; }

.sub_menu ul li {background-color: #4b4b4b;}

.sub_menu ul li.account_overview_link {background-color: #ebe4d9;}
.sub_menu ul li.account_logout_link {background-color: #ebe4d9;}

#wrap_all .bc-container-wrap {background-color: #7e7e7e;}

h2.dynamic-heading {padding-bottom: 10px;}

.wp-post-image iframe {padding-bottom: 20px;}

.woocommerce_de_versandkosten {}
.entry-summary small {}

.cart_dropdown .dropdown_widget {
    width: 335px !important;
}

.cart_dropdown .dropdown_widget dl.variation dt,
.cart_dropdown .dropdown_widget dl.variation dd {
    display: inline-block;
}

.cart_dropdown .dropdown_widget dl.variation dd > p {
    margin: 0;
}

.dropdown_widget ul.cart_list li a img {
    width: 100px;
}

.inner_cart_button {display: none;}

#hotline {
    background: transparent url(../images/icons/icon-hotline.png) center 0px no-repeat;
    width: 399px;
    height: 115px;
    z-index: 99;
    text-indent: -9999px;
    overflow: hidden;
    top: 60%;
    right: -277px;
    position: absolute;    
}

#top .social_bookmarks li.social_bookmarks_phone a {
    background: transparent url(../images/icons/icon-phone.png) center 0px no-repeat;
    background-position: 50% -43px;
}

#top .social_bookmarks li.social_bookmarks_phone span.css_3_hover {
    background-image: url(../images/icons/icon-phone.png) !important;
    background-position: 50% -43px;
}

#footer { 
    background-color: #fff; 
    border-color: #e1e1e1;
    margin-top: 2rem; 
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.05);
}

#footer .container {
    padding: 0;
    padding-bottom: 10px;
}

#footer .container h3.widgettitle {
    font-size: 18px;
    color: #817e7b;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: none;
}

#footer #mc4wp-form-1 {
    margin-top: -14px;
    position: relative;
}

#footer .mc4wp-alert {
    position: absolute;    
    background-color: #fff;
    color: #222;
    left: 60%;
    margin-left: -26%;
    width: 65%;
    padding-left: 13px;
    padding-top: 13px;
    margin-top: -13px;
    z-index: 999;
}

#footer #mc4wp-form-1 p {
    position: absolute;
    top: 35px;
    margin-left: 10px;
    font-size: 10px;
    line-height: 1.2em;
    color: #7a7979;
}

#footer #mc4wp-form-1 h4 {
    color: #4e4e4d;
    font-family: "Arial";
    font-weight: bold;
    font-size: 23px;
    line-height: 1.45em;
    letter-spacing: 0;
    text-transform: none;
    display: inline-block;
    vertical-align: bottom;
}

#footer #mc4wp-form-1 input {
    display: inline-block; 
    vertical-align: middle;
}

#footer #mc4wp-form-1 input#mc4wp_email {
    width: 71%;
    background-color: #ebe4d9;
    color: #817e7b;
    font-size: 18px;
    padding: 8px 13px;    
    border: 0;
    margin-right: 2%;
}

#footer #mc4wp-form-1 label {
    display: none;
}

#footer #mc4wp-form-1 input[type="submit"] {
    background-color: #817e7b;
    width: 20%;
    color: #fff;
    font-size: 14px;
    font-family: 'Arial';
    height: 37px !important;    
    -webkit-appearance: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 767px) {
    
    #wrap_all {
        margin-top: 4px;
    }
    
    #header #logo_container {
        padding-top: 1px;
    }
    
    .responsive .logo img {
        
    }
    
    .responsive #top .social_bookmarks {
        display: none;
    }
    
    .responsive .avia_wpml_language_switch {
        position: absolute;
        width: auto;
        right: 0;
        top: 5px;
        height: 30px;
    }
    
    #footer #mc4wp-form-1 p {
        position: absolute;
        line-height: 1.2em;
        bottom: -45px;
        top: auto;
        padding: 0;
        margin: 0;
    }
    
    #footer #mc4wp-form-1 input#mc4wp_email {
        width: 100%;
    }
    
    #footer #mc4wp-form-1 input[type="submit"] {   
        min-width: 210px;
    }
    
    #hotline {
        background: transparent url(../images/icons/icon-hotline.png) center 0px no-repeat;
        width: 100%;
        background-size: 115%;
        background-position: -5px 0;
        height: 115px;
        z-index: 99;
        text-indent: -9999px;
        overflow: hidden;
        position: static !important;
        right: 0 !important;
        display: none !important;
    }
        
}

/* Buttons Checkout */

.woocommerce .woocommerce-info {
    margin-bottom: 1.2rem;
}

#payment .terms {
    padding: 0;
}

.form-row#customer_infos_field {
    display: block;
    margin-bottom: 2rem;
}

.form-row.terms {
    overflow: hidden;
    clear: both;
}

.form-row .input-checkbox {
    display: inline;
    margin: 4px 8px 0 0;
    text-align: center;
    float: left;
    vertical-align: middle;
}

#payment #place_order {    
    clear: both;
    float: right;
}

#order_review .shop_table th.product-name {
    width: 70%;
}

#order_review .shop_table th.product-total {
    width: 30%;
}

#order_review .shop_table td.product-total {
    vertical-align: top;
}

.checkout h3#order_review_heading {
    margin-top: 3rem;
}

tr.cart_item dl.variation dd > p {
    margin: 0;
    padding: 0;
}

tr.cart_item td.product-name > a {
    font-weight: bold;
}

.cart_totals p { line-height: 1.2em; }

td.actions .coupon { width: auto !important; }
#top table.shop_table td.actions .button { padding-top: 11px; padding-bottom: 11px; }
#top table.shop_table { margin-bottom: 2rem; }

#main .second-checkout-button-container a.checkout-button.button.second-checkout-button.alt {font-size: 18px; background-color: #73be5f;  color:white; text-shadow: none; }
#main .second-checkout-button-container a.checkout-button.button.second-checkout-button.alt:hover {font-size: 18px; background-image: none; background-color: #5d984d;}

.place-order #place_order {font-size: 18px; background-color: #73be5f;  color:white; text-shadow: 0px 0px 0px black; margin-left:0px; margin-top: 25px; float: right !important; }
.place-order #place_order_back {font-size: 18px; margin-top:25px !important; margin-right: 12px; width: 33%; }
#top #place_order_edit { font-size: 18px; margin-top: 25px; width: 33%; }
.place-order #place_order:hover {background-color: #5d984d; width: 33%; }
.place-order #back_to_cart { position: absolute; bottom: 22px; }

@media only screen and (max-width: 1100px) {
    #top #place_order_edit {
	width: 100% !important;
    }
    
    #top #place_order_back {
	width: 100% !important;
    }
}

#main .second-checkout-button-container .second-checkout-button {font-size: 18px!important; width:300px!important; margin-bottom: 50px;}

.pp_nav {visibility: hidden;}
.pp_play, .pp_arrow_previous, .pp_arrow_next {display: none;}

.currentTextHolder {display: none;}

.woo-variantstocks th, .woo-variantstocks td { text-align: center; }
.woo-variantstocks td.term-name { text-align: left; }
.single_variation_wrap { position: relative; }
.single_variation_wrap .additional_info { position: absolute; left: 13%; top: 12px; white-space: nowrap; }
.single_variation_wrap .additional_info > div { display: inline-block; font-size: 12px; font-weight: bold; margin-right: 4%; }
.single_variation_wrap .additional_info > div > a { text-decoration: underline; }
.single_variation_wrap .additional_info > div.payment_delivery { font-size: 10px; margin-right: 0;}

@media only screen and (max-width: 1200px) {
    .single_variation_wrap .additional_info {
        position: static;
    }
    .single_variation_wrap .additional_info > div {
        display: block;
    }
    
    .single_variation_wrap .additional_info > div.payment_delivery {
        font-size: 12px;
    }
}

div.product p.stock { font-weight: bold; }