* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/***
 *    Main container for page                                                                      
 */
.container-fluid {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/***
 *    Default container class                                               
 */
.container-grid {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  z-index: 3;
  word-wrap: break-word;
  word-break: break-word; }
  @media (max-width: 1138px) {
    .container-grid {
      width: 96.8%;
      padding-left: 1.6%;
      padding-right: 1.6%;
      max-width: 100%; } }
  .container-grid.container-grid-big {
    width: 1400px; }
    @media (max-width: 1400px) {
      .container-grid.container-grid-big {
        width: 96.8%;
        padding-left: 1.6%;
        padding-right: 1.6%;
        max-width: 100%; } }

/*
 *    Default class for flexbox container                             
 */
.grid-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media (max-width: 768px) {
    .grid-flex {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

/***
  *      __  ___  _  __     __  _   _    _ _  _   _  _  _  __ 
  *     / _|| o \| ||  \   / _|/ \ | |  | | || \_/ || \| |/ _|
  *    ( |_n|   /| || o ) ( (_( o )| |_ | U || \_/ || \\ |\_   *     \__/|_|\\|_||__/   \__|\_/ |___||___||_| |_||_|\_||__/
  *
  *     Default classes for grid columns                                                           
  */
.grid-col-1 {
  width: 4.16667%; }

.grid-col-2 {
  width: 8.33333%; }

.grid-col-3 {
  width: 12.5%; }

.grid-col-4 {
  width: 16.66667%; }

.grid-col-5 {
  width: 20.83333%; }

.grid-col-6 {
  width: 25%; }

.grid-col-7 {
  width: 29.16667%; }

.grid-col-8 {
  width: 33.33333%; }

.grid-col-9 {
  width: 37.5%; }

.grid-col-10 {
  width: 41.66667%; }

.grid-col-11 {
  width: 45.83333%; }

.grid-col-12 {
  width: 50%; }

.grid-col-13 {
  width: 54.16667%; }

.grid-col-14 {
  width: 58.33333%; }

.grid-col-15 {
  width: 62.5%; }

.grid-col-16 {
  width: 66.66667%; }

.grid-col-17 {
  width: 70.83333%; }

.grid-col-18 {
  width: 75%; }

.grid-col-19 {
  width: 79.16667%; }

.grid-col-20 {
  width: 83.33333%; }

.grid-col-21 {
  width: 87.5%; }

.grid-col-22 {
  width: 91.66667%; }

.grid-col-23 {
  width: 95.83333%; }

.grid-col-24 {
  width: 100%; }

@media (max-width: 1138px) {
  .grid-col-lg-1 {
    width: 4.16667%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-2 {
    width: 8.33333%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-3 {
    width: 12.5%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-4 {
    width: 16.66667%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-5 {
    width: 20.83333%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-6 {
    width: 25%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-7 {
    width: 29.16667%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-8 {
    width: 33.33333%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-9 {
    width: 37.5%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-10 {
    width: 41.66667%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-11 {
    width: 45.83333%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-12 {
    width: 50%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-13 {
    width: 54.16667%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-14 {
    width: 58.33333%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-15 {
    width: 62.5%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-16 {
    width: 66.66667%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-17 {
    width: 70.83333%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-18 {
    width: 75%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-19 {
    width: 79.16667%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-20 {
    width: 83.33333%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-21 {
    width: 87.5%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-22 {
    width: 91.66667%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-23 {
    width: 95.83333%; }
  .hidden-lg {
    display: none; }
  .grid-col-lg-24 {
    width: 100%; }
  .hidden-lg {
    display: none; } }

@media (max-width: 1048px) {
  .grid-col-md-1 {
    width: 4.16667%; }
  .grid-col-md-2 {
    width: 8.33333%; }
  .grid-col-md-3 {
    width: 12.5%; }
  .grid-col-md-4 {
    width: 16.66667%; }
  .grid-col-md-5 {
    width: 20.83333%; }
  .grid-col-md-6 {
    width: 25%; }
  .grid-col-md-7 {
    width: 29.16667%; }
  .grid-col-md-8 {
    width: 33.33333%; }
  .grid-col-md-9 {
    width: 37.5%; }
  .grid-col-md-10 {
    width: 41.66667%; }
  .grid-col-md-11 {
    width: 45.83333%; }
  .grid-col-md-12 {
    width: 50%; }
  .grid-col-md-13 {
    width: 54.16667%; }
  .grid-col-md-14 {
    width: 58.33333%; }
  .grid-col-md-15 {
    width: 62.5%; }
  .grid-col-md-16 {
    width: 66.66667%; }
  .grid-col-md-17 {
    width: 70.83333%; }
  .grid-col-md-18 {
    width: 75%; }
  .grid-col-md-19 {
    width: 79.16667%; }
  .grid-col-md-20 {
    width: 83.33333%; }
  .grid-col-md-21 {
    width: 87.5%; }
  .grid-col-md-22 {
    width: 91.66667%; }
  .grid-col-md-23 {
    width: 95.83333%; }
  .grid-col-md-24 {
    width: 100%; }
  .hidden-md {
    display: none; } }

@media (max-width: 768px) {
  .grid-col-sm-1 {
    width: 4.16667%; }
  .grid-col-sm-2 {
    width: 8.33333%; }
  .grid-col-sm-3 {
    width: 12.5%; }
  .grid-col-sm-4 {
    width: 16.66667%; }
  .grid-col-sm-5 {
    width: 20.83333%; }
  .grid-col-sm-6 {
    width: 25%; }
  .grid-col-sm-7 {
    width: 29.16667%; }
  .grid-col-sm-8 {
    width: 33.33333%; }
  .grid-col-sm-9 {
    width: 37.5%; }
  .grid-col-sm-10 {
    width: 41.66667%; }
  .grid-col-sm-11 {
    width: 45.83333%; }
  .grid-col-sm-12 {
    width: 50%; }
  .grid-col-sm-13 {
    width: 54.16667%; }
  .grid-col-sm-14 {
    width: 58.33333%; }
  .grid-col-sm-15 {
    width: 62.5%; }
  .grid-col-sm-16 {
    width: 66.66667%; }
  .grid-col-sm-17 {
    width: 70.83333%; }
  .grid-col-sm-18 {
    width: 75%; }
  .grid-col-sm-19 {
    width: 79.16667%; }
  .grid-col-sm-20 {
    width: 83.33333%; }
  .grid-col-sm-21 {
    width: 87.5%; }
  .grid-col-sm-22 {
    width: 91.66667%; }
  .grid-col-sm-23 {
    width: 95.83333%; }
  .grid-col-sm-24 {
    width: 100%; }
  .hidden-sm {
    display: none; } }

@media (max-width: 480px) {
  .grid-col-xs-1 {
    width: 4.16667%; }
  .grid-col-xs-2 {
    width: 8.33333%; }
  .grid-col-xs-3 {
    width: 12.5%; }
  .grid-col-xs-4 {
    width: 16.66667%; }
  .grid-col-xs-5 {
    width: 20.83333%; }
  .grid-col-xs-6 {
    width: 25%; }
  .grid-col-xs-7 {
    width: 29.16667%; }
  .grid-col-xs-8 {
    width: 33.33333%; }
  .grid-col-xs-9 {
    width: 37.5%; }
  .grid-col-xs-10 {
    width: 41.66667%; }
  .grid-col-xs-11 {
    width: 45.83333%; }
  .grid-col-xs-12 {
    width: 50%; }
  .grid-col-xs-13 {
    width: 54.16667%; }
  .grid-col-xs-14 {
    width: 58.33333%; }
  .grid-col-xs-15 {
    width: 62.5%; }
  .grid-col-xs-16 {
    width: 66.66667%; }
  .grid-col-xs-17 {
    width: 70.83333%; }
  .grid-col-xs-18 {
    width: 75%; }
  .grid-col-xs-19 {
    width: 79.16667%; }
  .grid-col-xs-20 {
    width: 83.33333%; }
  .grid-col-xs-21 {
    width: 87.5%; }
  .grid-col-xs-22 {
    width: 91.66667%; }
  .grid-col-xs-23 {
    width: 95.83333%; }
  .grid-col-xs-24 {
    width: 100%; }
  .hidden-xs {
    display: none; } }

/*
 * Custom classes for flex
*/
.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-col-full-width {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.text-center {
  text-align: center; }

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

#wrap_all {
  margin: 0 auto 0 auto;
  z-index: initial; }

#header .container_wrap_menu_bar.header_color {
  background-color: white !important; }
  #header .container_wrap_menu_bar.header_color div.grid-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      #header .container_wrap_menu_bar.header_color div.grid-flex {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media (max-width: 480px) {
      #header .container_wrap_menu_bar.header_color div.grid-flex {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu {
      position: relative;
      right: initial;
      top: initial;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 768px) {
        #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
      @media (max-width: 480px) {
        #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu {
          display: none; } }
      #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul {
        margin: 0; }
        #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul:first-child {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
        #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul.cart_dropdown {
          position: relative;
          top: initial;
          right: initial;
          left: initial;
          margin: 0;
          padding: 0; }
          #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul.cart_dropdown li > div.dropdown_widget_cart {
            position: absolute;
            top: 55px;
            right: 0;
            left: initial; }
            #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul.cart_dropdown li > div.dropdown_widget_cart div.widget_shopping_cart_content ul.cart_list.product_list_widget {
              position: relative;
              display: block;
              top: initial;
              left: initial;
              width: initial;
              border: none;
              -webkit-box-shadow: none;
                      box-shadow: none; }
              #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul.cart_dropdown li > div.dropdown_widget_cart div.widget_shopping_cart_content ul.cart_list.product_list_widget li.mini_cart_item a:nth-child(2) {
                width: initial; }
        #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul > li {
          border-right: 0; }
          #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul > li img.sub_menu_icon {
            width: 20px;
            height: 25px;
            margin: -35px 0 10px 0; }
          #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul > li > a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            font-size: 14px;
            font-weight: lighter;
            font-family: "proxima-nova", sans-serif;
            color: black;
            padding: 35px 0 10px 0; }
          #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul > li > ul {
            position: absolute;
            top: 55px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%); }
            #header .container_wrap_menu_bar.header_color div.grid-flex div.sub_menu > ul > li > ul li a {
              padding: 6px; }
    #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu {
      left: initial;
      right: initial; }
      @media (max-width: 768px) {
        #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu {
          margin-top: 5px;
          width: auto;
          min-width: 50%; } }
      @media (max-width: 480px) {
        #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu {
          width: 100%; } }
      #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu div.menu-main-menu-container ul.menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        background: transparent; }
        #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu div.menu-main-menu-container ul.menu li.menu-item a {
          border: none;
          font-family: "proxima-nova", sans-serif;
          font-size: 14px;
          font-weight: lighter;
          color: black;
          text-transform: uppercase; }
        #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu div.menu-main-menu-container ul.menu li.menu-item.current-menu-item a, #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu div.menu-main-menu-container ul.menu li.menu-item.current-menu-ancestor a {
          font-weight: bold; }
          #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu div.menu-main-menu-container ul.menu li.menu-item.current-menu-item a:after, #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu div.menu-main-menu-container ul.menu li.menu-item.current-menu-ancestor a:after {
            content: '';
            height: 1px;
            background: black;
            display: block;
            margin-top: 0.5px; }
        #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu div.menu-main-menu-container ul.menu li.menu-item.current-menu-ancestor ul.sub-menu li.current-menu-item a {
          width: auto; }
      #header .container_wrap_menu_bar.header_color div.grid-flex div.main_menu div.menu-main-menu-container select.mobileMenu {
        margin-bottom: 5px;
        height: 39px; }

#header .container_wrap_info_bar {
  background-color: black;
  color: white;
  height: 30px; }
  @media (max-width: 480px) {
    #header .container_wrap_info_bar {
      height: auto; } }
  #header .container_wrap_info_bar .container-grid {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "proxima-nova", sans-serif; }
    @media (max-width: 480px) {
      #header .container_wrap_info_bar .container-grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    #header .container_wrap_info_bar .container-grid a {
      text-decoration: none; }
    #header .container_wrap_info_bar .container-grid img.contact-icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1);
      height: 21px;
      width: auto;
      margin: 0 10px 0 10px; }
    @media (max-width: 480px) {
      #header .container_wrap_info_bar .container-grid div.info-bar-left {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 5px auto 5px auto; } }
    @media (max-width: 480px) {
      #header .container_wrap_info_bar .container-grid div.info-bar-right {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 5px; } }
    #header .container_wrap_info_bar .container-grid div.info-bar-right #searchform {
      width: 100%;
      min-width: 1px; }
      #header .container_wrap_info_bar .container-grid div.info-bar-right #searchform div #searchsubmit {
        background-color: transparent;
        -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
        right: 5px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background-size: contain;
        height: 18px;
        width: 22px; }
      #header .container_wrap_info_bar .container-grid div.info-bar-right #searchform div #s {
        height: 18px;
        background: transparent;
        border-radius: 4px;
        text-indent: 5px;
        padding: 0;
        color: white;
        width: 100%; }

#header .container_wrap_menu {
  z-index: 99; }

div.return-top-button-container .return-top-button {
  padding: 25px; }
  div.return-top-button-container .return-top-button img {
    height: auto;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 25px;
    margin: 0 auto; }
  div.return-top-button-container .return-top-button span {
    color: black;
    font-size: 11px;
    text-decoration: none;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase; }

div.grey-bar {
  background-color: #dddcd8;
  min-height: 100px;
  height: auto; }
  div.grey-bar div.pictogram-column {
    margin: 25px 0 25px 0; }
    div.grey-bar div.pictogram-column img.pictogram-image {
      margin-bottom: 15px;
      height: 60px;
      width: auto; }
    div.grey-bar div.pictogram-column span.pictogram-text {
      color: black;
      font-family: "proxima-nova", sans-serif;
      font-size: 14px; }
      div.grey-bar div.pictogram-column span.pictogram-text p {
        color: black;
        font-family: "proxima-nova", sans-serif;
        font-size: 18px;
        margin-top: 0; }

#socket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100px;
  height: auto;
  padding: 30px 0 10px 0; }
  #socket div.container-grid {
    height: 100%;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #socket div.container-grid div.socket-title h1 {
      font-family: "proxima-nova", sans-serif;
      font-size: 18px;
      color: white; }
    #socket div.container-grid div.copyright {
      margin-top: 40px; }
      #socket div.container-grid div.copyright, #socket div.container-grid div.copyright a {
        color: #868777 !important;
        font-size: 11px; }
    #socket div.container-grid div.sub_menu_socket div.menu-footer-container ul.menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      margin: 0;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      #socket div.container-grid div.sub_menu_socket div.menu-footer-container ul.menu li {
        border: 0; }
        #socket div.container-grid div.sub_menu_socket div.menu-footer-container ul.menu li a {
          font-size: 14px;
          color: #868777 !important; }
