@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}

@function em($size, $base: 16px) {
	@return strip-units($size / $base) + em;
}

@function rem($size, $base: 16px) {
	@return strip-units($size / $base) + rem;
}

@mixin font-size($size, $base: 16px) {
	font-size: strip-units($size) + px;
	font-size: rem($size, $base);
}

@mixin font-size-em($size, $base: 16px) {
	font-size: em($size, $base);
}

@mixin reset-list() {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin _clearfix() {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin clearfix() {
	@extend .clearfix;
}

@mixin hidden() {
	display: none !important;
	visibility: hidden !important;
	width: 0;
	height: 0;
}

@mixin visible() {
	display: block !important;
	visibility: visible !important;
}

@mixin align($align) {
	text-align: $align;
}

@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

@mixin text-align($align) {
	@if($align == "center" or $align == "right" or $align == "left") {
		text-align: $align;
	}
}

@function column-width($quantity) {
	@return strip-units(100 / $quantity) + %;
}