
$rem-size: 16px;

$font-family-1: "proxima-nova",sans-serif;
$font-family-2: "bodoni-urw",serif;

$font-sizes: ( 18px, 14px, 11px );

$color-1: #747b8e;
$color-2: #024a92;
$color-3: #e4e5e9;
$color-4: #658abd;
$color-5: #658abd;
$color-6: #757e8f;

$breakpoint: "(max-width: 1400px)";
$breakpoint-1: "(max-width: 1138px)";
$breakpoint-2: "(max-width: 1048px)";
$breakpoint-3: "(max-width: 768px)";
$breakpoint-4: "(max-width: 480px)";

$grid-columns: 24;
