div.return-top-button-container {
    .return-top-button {
        padding: 25px;
        img {
            height: auto;
            transform: rotate(180deg);
            width: 25px;
            margin: 0 auto; 
        }
        span {
            color: black;
            font-size: 11px;
            text-decoration: none;
            font-family: $font-family-1;
            text-transform: uppercase;
        }
    }
}

div.grey-bar {
    background-color: #dddcd8;
    min-height: 100px;
    height: auto;

    div.pictogram-column {
        margin: 25px 0 25px 0;
        img.pictogram-image {
            margin-bottom: 15px;
            height: 60px;
            width: auto;
        }

        span.pictogram-text {
            color: black;
            font-family: $font-family-1;
            font-size: nth( $font-sizes, 2 );

            p {
                color: black;
                font-family: $font-family-1;
                font-size: nth( $font-sizes, 1 );
                margin-top: 0;
            }
        }
    }
}

#socket {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 100px;
    height: auto;
    padding: 30px 0 10px 0;

    div.container-grid {
        height: 100%;  
        padding: 20px; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        div.socket-title {
            h1 {
                font-family: $font-family-1;
                font-size: nth($font-sizes, 1);
                color: white; 
            }
        }

        div.copyright {  
            margin-top: 40px;
            &, a {
                color: #868777!important;
                font-size: nth($font-sizes, 3);
            }
        }

        div.sub_menu_socket {
            div.menu-footer-container {
                ul.menu {
                    display: flex;
                    justify-content: center;
                    align-items: baseline;
                    margin: 0;
                    flex-wrap: wrap;
 
                    li {  
                        border: 0;

                        a {
                            font-size: 14px;
                            color: #868777!important;
                        }
                    }
                }
            }
        }
    }
}