/***
 *    Main container for page                                                                      
 */

.container-fluid {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/***
 *    Default container class                                               
 */

.container-grid {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    z-index: 3;
    word-wrap: break-word;
    word-break: break-word;

    @media #{$breakpoint-1} {
        width: 96.8%;
        padding-left: 1.6%;
        padding-right: 1.6%;
        max-width: 100%;
    }

    &.container-grid-big {
        width: 1400px;

        @media #{$breakpoint} {
            width: 96.8%;
            padding-left: 1.6%;
            padding-right: 1.6%;
            max-width: 100%;
        }
    }
}


/*
 *    Default class for flexbox container                             
 */

.grid-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    @media #{$breakpoint-3} {
        flex-wrap: wrap;
    }
}


/***
  *      __  ___  _  __     __  _   _    _ _  _   _  _  _  __ 
  *     / _|| o \| ||  \   / _|/ \ | |  | | || \_/ || \| |/ _|
  *    ( |_n|   /| || o ) ( (_( o )| |_ | U || \_/ || \\ |\_ \
  *     \__/|_|\\|_||__/   \__|\_/ |___||___||_| |_||_|\_||__/
  *
  *     Default classes for grid columns                                                           
  */

@for $i from 1 through $grid-columns {
    .grid-col-#{$i} {
        width: column-width($grid-columns/$i);
    }
}
@media #{$breakpoint-1} {
    @for $i from 1 through $grid-columns {
        .grid-col-lg-#{$i} {
            width: column-width($grid-columns/$i);
        }

        
        .hidden-lg {
            display: none;
        }
    }
}

@media #{$breakpoint-2} {
    @for $i from 1 through $grid-columns {
        .grid-col-md-#{$i} {
            width: column-width($grid-columns/$i);
        }
    }

    .hidden-md {
        display: none;
    }
}

@media #{$breakpoint-3} {
    @for $i from 1 through $grid-columns {
        .grid-col-sm-#{$i} {
            width: column-width($grid-columns/$i);
        }
    }
    
    .hidden-sm {
        display: none;
    }
}

@media #{$breakpoint-4} {
    @for $i from 1 through $grid-columns {
        .grid-col-xs-#{$i} {
            width: column-width($grid-columns/$i);
        }
    }

    .hidden-xs {
        display: none;
    }
}

/*
 * Custom classes for flex
*/

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col-full-width {
    flex-basis: 100%;
}

.text-center {
    text-align: center;
}

.direction-column {
    flex-direction: column;
}