#wrap_all {
    margin: 0 auto 0 auto;
    z-index: initial;
}

#header {
    .container_wrap_menu_bar.header_color {
        background-color: white!important; 
        div.grid-flex {
            justify-content: space-between;

            @media #{$breakpoint-3} {
                justify-content: center;
                flex-direction: row;
            }

             @media #{$breakpoint-4} {
                justify-content: center;
                flex-direction: column;
            }

            div.sub_menu {
                position: relative;
                right: initial;
                top: initial;
                margin: 0;
                display: flex;

                @media #{$breakpoint-3} {
                    flex-direction: row;
                }

                @media #{$breakpoint-4} {
                    display: none;
                }

                & > ul {
                    margin: 0;
                    &:first-child {
                        flex: 1;
                    }

                    &.cart_dropdown { 
                        position: relative; 
                        top: initial;
                        right: initial;
                        left: initial; 
                        margin: 0;
                        padding: 0;

                        li {
                            & > div.dropdown_widget_cart {
                                position: absolute;
                                top: 55px;
                                right: 0;
                                left: initial;

                                div.widget_shopping_cart_content {
                                    ul.cart_list.product_list_widget {
                                        position: relative;
                                        display: block;
                                        top: initial;
                                        left: initial;
                                        width: initial;
                                        border: none;
                                        box-shadow: none;
                                        li.mini_cart_item {
                                            a:nth-child(2) {
                                                width: initial;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & > li {
                        border-right: 0;
                        img.sub_menu_icon {
                            width: 20px;
                            height: 25px;
                            margin: -35px 0 10px 0;
                        }
                        & >a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-size: 14px;
                            font-weight: lighter;
                            font-family: $font-family-1;
                            color: black;
                            padding: 35px 0 10px 0;
                        }

                        & > ul {
                            position: absolute;
                            top: 55px;
                            left: 50%;
                            transform: translateX(-50%);
                            li {
                                a {
                                    padding: 6px;
                                }
                            }
                        }
                    }
                }
            }
            div.main_menu {
                left: initial;
                right: initial;

                @media #{$breakpoint-3} {
                    margin-top: 5px;
                    width: auto;
                    min-width: 50%;
                }

                @media #{$breakpoint-4} {
                    width: 100%;
                }

                div.menu-main-menu-container {
                    ul.menu {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        background: transparent;
                        li.menu-item {
                            a {
                                border: none;
                                font-family: $font-family-1;
                                font-size: nth($font-sizes, 2);
                                font-weight: lighter;
                                color: black;
                                text-transform: uppercase;
                            }
                            &.current-menu-item, &.current-menu-ancestor {
                                a {
                                    font-weight: bold;
                                    //text-decoration: underline;

                                    &:after {
                                        content: '';
                                        height: 1px;
                                        background: black; 
                                        display:block;
                                        margin-top: 0.5px;
                                    }
                                }
                            }

                            &.current-menu-ancestor {
                                ul.sub-menu {
                                    li.current-menu-item {
                                        a {
                                            width: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    select.mobileMenu {
                        margin-bottom: 5px;
                        height: 39px;
                    }
                }
            }
        }
    }

    .container_wrap_info_bar {
        background-color: black;
        color: white;
        height: 30px;

        @media #{$breakpoint-4} {
            height: auto;
        }

        .container-grid {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $font-family-1; 

            @media #{$breakpoint-4} {
                flex-direction: column;
            }
            
            a {
                text-decoration: none;
            }

            img.contact-icon {
                filter: brightness(0) invert(1);
                height: 21px;
                width: auto;
                margin: 0 10px 0 10px;
            }

            div.info-bar-left {
            @media #{$breakpoint-4} {
                    justify-content: center;
                    margin: 5px auto 5px auto;
                } 
            } 

            div.info-bar-right {
                @media #{$breakpoint-4} {
                    justify-content: center;
                    margin-bottom: 5px;
                } 
                #searchform {
                    width: 100%;
                    min-width: 1px;
                    div {
                        #searchsubmit {
                            background-color: transparent;
                            filter: brightness(0) invert(1);
                            right: 5px;
                            top: 50%;
                            transform: translateY(-50%);
                            background-size: contain;
                            height: 18px;
                            width: 22px;
                        }
                        
                        #s {
                            height: 18px;
                            background: transparent;
                            border-radius: 4px;
                            text-indent: 5px;
                            padding: 0;
                            color: white;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .container_wrap_menu {
        z-index: 99;
    }

}